{% extends 'main.html' %}
{% block content %}
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Search</label>
    <input type="text" class="form-control" name="searchMovie" placeholder="Search Movie">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<hr>

<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for i in movies %}
  <div v-for="i in movies" class="col">
    <div class="card">
      <img class="card-img-top" src="{{ i.image.url }}" />
      <div class="card-body">
        <h5 class="card-title fw-bold">{{ i.title }}</h5>
        <p class="card-text">{{ i.description }}</p>
        {% if i.url %}
        <a href="{{ i.url }}" class="btn btn-primary" target="_blank">
          Movie Link
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br>
<hr>


<h1> Join Our Mailing List </h1>
<form>
  <input type="email" class="form-control" name="email" placeholder="Enter your Email">
  <button type="submit" class="btn btn-primary mt-3">Sign Up</button>

</form>

{% endblock content%}